@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Noto Sans KR", sans-serif;
}

#container {
    background-color: white;
    padding: 90px 120px;
    border: 3px solid black;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
}

input {
    display: inline-block;
    width: 100%;
    border: 3px solid black;
    font-size: 2rem;
}

input:hover {
    display: inline-block;
    width: 100%;
    border: 3px solid black;
    font-size: 2rem;
    transform: scale(95%);
}

#buttonSubmit {
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    background-color: lightseagreen;
    border: 3px solid lightseagreen;
    color: white;
    font-size: 2rem;
    padding: 10px;
    margin-top: 20px;
}


#buttonSubmit:hover {
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    background-color: lightseagreen;
    border: 3px solid lightseagreen;
    color: white;
    font-size: 2rem;
    padding: 10px;
    margin-top: 20px;
    transform: scale(95%);
}

.modify {
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.3);
    background-color: skyblue;
    border: 3px solid skyblue;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
}

.modify:hover {
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.3);
    background-color: skyblue;
    border: 3px solid skyblue;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
    transform: scale(95%);
}

.delete {
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.3);
    background-color: lightcoral;
    border: 3px solid lightcoral;
    color: white;
    font-size: 1rem;
    padding: 10px;
    margin-top: 20px;
}

.delete:hover {
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.3);
    background-color: lightcoral;
    border: 3px solid lightcoral;
    color: white;
    font-size: 1rem;
    padding: 10px;
    margin-top: 20px;
    transform: scale(95%);
}

#menuList {
    text-align: center;
}